
<nav class="home-nav">
  <div class="nav-left">
    <div class="logo">
      <a href="/home"><%= image_tag "stopwatch.png", alt: "time trekker logo"%>
      <p class="logo-text">Time Trekker</p></a>
    </div>
    <%= link_to 'Features' %>
  </div>
  <div class="nav-right">
    <% if user_signed_in? %>
      <%= button_to 'Go to app', app_path, method: :get %>
    <% else %>
      <%= button_to 'Log in', new_user_session_path, data: { turbo: false }%>
      <%= button_to 'Sign up', new_user_registration_path, method: :get%>
    <% end %>
  </div>
</nav>